.note,
.note-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-title {
  margin: 10px 0;
}

.note-content {
  margin: 10px 0;
}

.note-content strong {
  color: rgb(101 101 101 / 60%);;
}

.comment-card-buttons {
  display: flex;
  gap: 20px;
}

.comment-card-buttons__comment {
  padding: 0.5rem calc(0.5rem * 2);
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
}

.comment-card-buttons__comment:disabled {
  cursor: no-drop;
}
